run = "bash start.sh"

[nix]
channel = "stable-23_11"

[env]
NEXT_PUBLIC_API_URL = "http://0.0.0.0:8000"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[deployment]
run = ["bash", "start.sh"]
